<nav class="bottom-nav" [attr.aria-label]="'bottomNav.navigation' | translate">
  <a
    class="nav-item"
    routerLink="/home"
    [class.active]="activePage === 'home'"
    [attr.aria-label]="'bottomNav.home' | translate"
  >
    <ion-icon name="home-outline"></ion-icon>

    <span>
      {{ "bottomNav.home" | translate }}
    </span>
  </a>

  <a
    class="nav-item"
    routerLink="/sets"
    [class.active]="activePage === 'sets'"
    [attr.aria-label]="'bottomNav.sets' | translate"
  >
    <ion-icon name="layers-outline"></ion-icon>

    <span>
      {{ "bottomNav.sets" | translate }}
    </span>
  </a>

  <a
    class="nav-item"
    routerLink="/statistics"
    [class.active]="activePage === 'statistics'"
    [attr.aria-label]="'bottomNav.statistics' | translate"
  >
    <ion-icon name="bar-chart-outline"></ion-icon>

    <span>
      {{ "bottomNav.statistics" | translate }}
    </span>
  </a>

  <a
    class="nav-item"
    routerLink="/profile"
    [class.active]="activePage === 'profile'"
    [attr.aria-label]="'bottomNav.profile' | translate"
  >
    <ion-icon name="person-outline"></ion-icon>

    <span>
      {{ "bottomNav.profile" | translate }}
    </span>
  </a>
</nav>
